<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        
    <div id="contenedor">
        
        <div id="registro"><h1>Edicion de productos</h1></div>

        <div id="form">
            
            <!-- Formulario -->
            <form method="POST" action="/products/edit?_method=PUT" enctype="multipart/form-data">
                
                <!-- input type="Tipo de valor: Texto, number, file"   name="Descripcion oculta"   value="Descripcion visible"   value="Valor forzado" -->
                
                <div class="form-group">
                <h4>Producto</h4>
                <div>
                <input type="text" name="Producto" placeholder="Nombre del Producto" value="<%=idProductToEdit[0].nombre%>" required>
                </div>
                
                <div class="form-group">
                <h4>Descripcion</h4>
                <div>
                <textarea type="text" name="textarea" rows="10" cols="50" placeholder="Descripcion del producto"><%=idProductToEdit[0].descripcion%> </textarea>
                </div>
                
                <div class="form-group">
                
                <!-- Si le pongo input type="number" no me toma el value -->
                <h4 class="form-group">Precio</h4>
                <div>
                <input type="text" name="Price" placeholder="Precio" value="$ <%=idProductToEdit[0].precio%>" >
                </div>
                
                <!-- Si le pongo input type="number" no me toma el value -->
                <h4 class="form-group">Descuento</h4>
                <div>
                <input type="text" name="sale" placeholder="Descuento" value="<%=idProductToEdit[0].descuento%> %" > 
                </div>
                
                <h4 class="form-group">Categoria</h4>
                <div>
                <input type="text" name="categoria" placeholder="categoria" value="<%=idProductToEdit[0].categoria%>" > 
                </div>

                <h4 class="form-group">Borrar Imagenes</h4>
                <div>
                <input type="reset" value="Borrar">
                </div>
                
                <h4 class="form-group">Añadir imagen</h4>
                <div>
                <i class="fas fa-camera"></i>
                <input type="file" name="ImagenDeProducto" acept=".jpg, .png"></input>
                </div>
                
                <input type="submit" value="Subir">

            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>

    
</body>
</html>