<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <form method="POST" action="/products/<%=idProductToEdit[0].id%>/edit?_method=PUT" enctype="multipart/form-data">
            
            <div class=ingresoManual>
                <p class="ingresa-cuenta">Actualizá el producto</p><br>
                <input type="hidden" name="id" value="<%=idProductToEdit[0].id%>">  
                <label for="nombre">Nombre de producto</label>
                <input class="nombre" type="text" name="nombre" placeholder="Nombre del Producto" value="<%=idProductToEdit[0].nombre%>" required>
                <label for="descripcion" >Descripción del producto</label>
                <textarea class="descripcion" type="text" name="descripcion" rows="10" cols="50" placeholder="Descripcion del producto"><%=idProductToEdit[0].descripcion%> </textarea><br>
                <label for="descuento">Precio</label>
                <input class="precio" type="text" name="precio" placeholder="Precio" value="<%=idProductToEdit[0].precio%>">
                <label for="descuento">Descuento</label>
                <input class="descuento" type="text" name="descuento" placeholder="Descuento" value="<%=idProductToEdit[0].descuento%>" > 
                <label for="categoria">Categoría</label>
                <input class="categoria" type="text" name="categoria" placeholder="categoria" value="<%=idProductToEdit[0].categoria%>" > 
                <label for="imagen">Imagen</label>
                <div class="imagen-edit">
                    <img class="imagenEdit" src="/images/productos/<%=idProductToEdit[0].imagen%>" alt="">
                </div>
                <input class="imagen" type="file" name="imagen" accept=".jpg, .png"></input>
                <button class="editar" type="submit" value="Editar">Editar</button>
            </div>
        </form>
        
            <form action="/products/<%= idProductToEdit[0].id %>/delete" method="POST" >
                
                <div class=ingresoManual>
                    <p class="ingresa-cuenta">Eliminá el producto</p><br>
                    <button class="eliminar" type="submit" >Eliminar</button>
                </div>
            </form>

    <%- include('../partials/footer') %>
</body>
</html>