<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <!--Parte principal de la web: Tabla-->
    <main class="main">
        <!--Caja principal 1-->
        <div class="caja-titulo">
            <p class="titulo">Estás a un paso de tu previa</p>
        </div>
    
        <!--Caja QUERY-->
        <div class="caja-query">
            
            <%- include('../partials/cart/lista-compras') %>
        
            <!--Caja principal 3-->

            <%- include('../partials/cart/caja-valores') %>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>