<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include('../partials/products/productDetail') %>
        <section class="recomendaciones">
            <%- include('../partials/products/te-recomendamos') %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
