<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <!-- header -->
    <%- include('../partials/header') %>

    <!-- Slider -->
    <%- include('../partials/index/slider') %>

    <main class="main-index">
        <!-- menu tabs -->
        <%- include('../partials/index/tabs') %>

        <!-- Seccion de productos -->
        <section>
            <%- include('../partials/index/productos') %>
        </section>  
        
        <!-- Seccion de mas buscados -->
        <section>
            <%- include('../partials/index/mas-buscados') %>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>