<article>
    <div class="caja-foto">
        <p class="tituloDetalle"><%= idProductDetail[0].nombre %></p>
        <img class="foto" src="/images/productos/<%= idProductDetail[0].imagen %>" alt="">
    </div>
    <div class="caja1">
        <div class="pago">
            <p class="precio"><%= idProductDetail[0].precio %></p>
            <p class="descuento"><%= idProductDetail[0].descuento %> % OFF</p>
            <p class="pago">Ver medios de pago</p>
        </div>
        <div class="valoracion">
            <i class="fas fa-star"></i>
            <p>4.8</p>
            <p class="opiniones">540 opiniones</p>
        </div>
    </div>
    <div class="compra">
        <a href="/products/cart/"><button>Agregar a mi previa</button></a>
    </div>
    <div class="detalleProducto">
        <p><%= idProductDetail[0].descripcion %></p>
    </div>
</article>