<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
    <%- include('../partials/header') %>
    <main>
    <div id="contenedor">
        <div id="registro"><h1>Editar Perfil</h1></div>
        <div id="form">
            <form action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <img src="/images/usuarios/<%=idUsuarioToEdit[0].imagen%>" alt="defaul-profile-image">
                </div>
                <div class="form-group">
                    <h4 class="cat">Modificar imagen</h4>
                    <i class="fas fa-camera"></i>
                    <input type="file" name="imagen" acept=".jpg, .png">
                </div>
                <div class="form-group">
                   <input type="text" name="nombre" placeholder="Modificar nombre"  value="<%=idUsuarioToEdit[0].nombre%>">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Modificar email" value="<%=idUsuarioToEdit[0].email%>">
                </div>
                <div class="form-group"> 
                    <input type="password" name="password" placeholder="Modificar contraseña">
                </div>
               <div class="form-group">
                    <input type="password" name="password" placeholder="Confirmar contraseña">
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" placeholder="Agregar direccion de envio" required value="<%=idUsuarioToEdit[0].direccion%>">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" placeholder="Telefono de contacto" required value="<%=idUsuarioToEdit[0].telefono%>">
                </div>
                <div class="form-group">
                    <input class="edad" type="date" name="nacimiento" placeholder="Fecha de nacimiento" required value="<%=idUsuarioToEdit[0].nacimiento%>">
                </div>
                <div class="form-group"> 
                    <input type="submit" value="Modificar Perfil">
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>    
</body>
</html>